<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Rakit\Validation\Validator">
        <plugin name="MVenghaus_MagewirePluginValidationAlias_Plugin_Rakit_Validation_ValidatorPlugin"
                type="MVenghaus\MagewirePluginValidationAlias\Plugin\Rakit\Validation\ValidatorPlugin"/>
    </type>
</config>